* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

*::before,
*::after {
  padding: 0;
  margin: 0;
}

:root {
  --pink: #ff74a4;
  --violet: #9f6ea3;
  --lightblack: #515c6f;
  --white: #ffffff;
  --darkwhite: #cecaca;
  ---pinkshadow: #ffcbdd;
  --lightingshadow: rgba(0, 0, 0, 0.15);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wrapper {
  position: relative;
  width: 380px;
  background: var(--white);
  box-shadow: 0 6px 15px var(--lightingshadow);
  padding: 25px 30px;
  border-radius: 15px;
  overflow: hidden;
}

.wrapper i {
  cursor: pointer;
}

.top-bar,
.progress-area .timer,
.music-list .header,
.music-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar i {
  font-size: 30px;
  color: var(--lightblack);
}

.top-bar span {
  font-size: 18px;
  color: var(--lightblack);
}

.img-area {
  height: 256px;
  width: 100%;
  margin-top: 25px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 6px 12px var(--lightingshadow);
}

.img-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.song-details {
  text-align: center;
  margin: 30px 0;
  color: var(--lightblack);
}

.song-details .name {
  font-size: 18px;
  opacity: 0.9;
}

.progress-area {
  height: 6px;
  width: 100%;
  background-color: #ece5e5;
  border-radius: 50px;
  cursor: pointer;
}
.progress-area .progress-bar {
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: linear-gradient(90deg, var(--pink) 0%, var(--violet));
}

.progress-bar::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background: #000;
  border-radius: inherit;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  background: inherit;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before {
  opacity: 1;
}

.progress-area .timer {
  margin-top: 2px;
}

.timer span {
  font-size: 13px;
  color: var(--lightblack);
}

.controls {
  margin: 40px 0 5px 0;
  display: flex;
  justify-content: space-between;
}

.controls i {
  font-size: 28px;
  user-select: none;
  background: linear-gradient(90deg, var(--pink) 0%, var(--violet));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.controls i:nth-child(2),
.controls i:nth-child(4) {
  font-size: 43px;
}

.controls #next {
  margin-left: -13px;
}

.controls .play-pause {
  height: 54px;
  width: 54px;
  background: linear-gradient(var(--white) 0%, var(--darkwhite));
  box-shadow: 0px 0px 5px var(--pink);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-pause::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  height: 43px;
  width: 43px;
  background: linear-gradient(var(--pink) 0%, var(--violet));
}

.play-pause i {
  height: 43px;
  width: 43px;
  line-height: 43px;
  text-align: center;
  border-radius: inherit;
  text-align: center;
  background-clip: text;
  background: inherit;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.music-list {
  position: absolute;
  left: 0;
  bottom: -55%;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  background: var(--white);
  transition: all 0.14s ease-out;
}

/* use this show class in javascript */
.music-list .show {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}
.music-list {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
}

.music-list .header .row {
  display: flex;
  align-items: center;
  font-size: 19px;
  color: var(--lightblack);
}

.header .row i {
  cursor: default;
}

.header #close {
  font-size: 22px;
  color: var(--lightblack);
}

.music-list ul::-webkit-scrollbar {
  width: 0px;
}

.music-list ul {
  max-height: 260px;
  margin: 10px 0;
  overflow-y: auto;
}

.music-list ul li {
  list-style: none;
  border-bottom: 1px solid #e5e5e5 ;
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: var(--lightblack);
}

.musisc-list ul li .row span {
  font-size: 17px;
}

.ul li .row p {
  opacity: 0.9;
}

ul li .audio-duration {

}
